<ion-menu #menu side="start" menuId="first" contentId="main">
  <ion-content>
    <ion-list>
      <ion-list-header>
        <ion-label>Generale</ion-label>
      </ion-list-header>
      <ion-item style="zoom: 0.8">
        <ion-label>Mostra posizione utente</ion-label>
        <ion-toggle name="showBeacons" [(ngModel)]="showCurrentPosition"></ion-toggle>
      </ion-item>
      <ion-item style="zoom: 0.8">
        <ion-label>Mostra Beacons</ion-label>
        <ion-toggle name="showBeacons" [(ngModel)]="showBeacons"></ion-toggle>
      </ion-item>
      <ion-list-header>
        <ion-label>Mapped Beacons</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let beacon of detectedBeacons">
        <ion-label>
          <div>{{beacon.id}}</div>
          <div><small> Distance: <i>{{beacon.distance}}</i></small></div>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header (click)="showAllbeacons = !showAllbeacons">
        <ion-item id="all-beacon">
          <ion-icon [name]="!showAllbeacons? 'eye-outline' : 'eye-off-outline'" slot="end"></ion-icon>
          <ion-label>All Beacons</ion-label>
        </ion-item>
      </ion-list-header>
      <ng-container *ngIf="showAllbeacons">
        <ion-item *ngFor="let beacon of allBeacons">
          <ion-label>
            <div>{{beacon.id}}</div>
            <div><small> Distance: <i>{{beacon.distance}}</i></small></div>
          </ion-label>
        </ion-item>
      </ng-container>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button size="icon-only" (click)="menu.toggle()">
        <ion-icon name="bluetooth-outline" [color]="showBeacons? 'success' : 'danger'"></ion-icon>
      </ion-button>
      <ion-button size="icon-only" (click)="toggleAreas()">
        <ion-icon name="apps-sharp" [color]="showMapping? 'success' : 'danger'"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>geojson-map</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleDetection()">
        <ion-icon name="ear-outline" [color]="beaconsService.isMonitoring? 'success' : 'danger'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="main">
  <div id="map">
    <agm-map *ngIf="options" [latitude]="options.lat" [longitude]="options.lng" [zoom]="options.zoom"
      [minZoom]="options.minZoom" [maxZoom]="options.maxZoom" [disableDefaultUI]="true" [styles]="styles"
      (mapReady)="mapReadyHandler($event)">
      <agm-data-layer *ngIf="map" [geoJson]="map"></agm-data-layer>
      <!-- <agm-marker [latitude]="options.lat" [longitude]="options.lng"></agm-marker> -->
      <ng-container *ngIf="showBeacons">
        <agm-marker [latitude]="b.coordinate.lat" [longitude]="b.coordinate.lng" [iconUrl]="'assets/bluetooth.png'"
          *ngFor="let b of beaconsMapping">
          <agm-info-window [disableAutoPan]="true">
            <div><b>id:</b> {{b.id}}</div>
            <div><b>uuid:</b> {{b.uuid}}</div>
            <div><b>Coords:</b> {{b.coordinate.lat}}, {{b.coordinate.lng}}</div>
          </agm-info-window>
        </agm-marker>
      </ng-container>

      <agm-marker [latitude]="p.coordinate.lat" [longitude]="p.coordinate.lng"
        [iconUrl]="'assets/point-of-interest.png'" *ngFor="let p of pois">
        <agm-info-window [disableAutoPan]="true">
          <div><b>id:</b> {{p.id}}</div>
          <div><b>Name:</b> {{p.name}}</div>
          <div><b>Coords:</b> {{p.coordinate.lat}}, {{p.coordinate.lng}}</div>
          <div><b>meta:</b> {{p.metadata | json}}</div>
        </agm-info-window>
      </agm-marker>

      <agm-marker *ngIf="currentPosition && showCurrentPosition" [latitude]="currentPosition.lat"
        [longitude]="currentPosition.lng" [iconUrl]="'assets/person.png'">
      </agm-marker>

      <agm-polygon [paths]="a.paths" [fillColor]="a.fill" *ngFor="let a of areas" (polyClick)="alertInfo(a)">
      </agm-polygon>
    </agm-map>
  </div>
</ion-content>