#map {
    height: 100%;
    width: 100%;

    agm-map {
        height: 100%;
        width: 100%;
    }
}

#controls {
    position: absolute;
    top: 0;
    left: 0;
}

.floating {
    position: absolute;
    width: calc(100% - 32px);
    top: 0;
    left: 0;
    z-index: 1001;
}

#all-beacon {
    width: 100%;
    --padding-start: 0;
}
