<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="ion-text-center ion-padding">
      Opere d'arte
    </div>
    <div>
      <ion-searchbar [(ngModel)]="term" [debounce]="400" (ngModelChange)="search()"></ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card class="poi" button *ngFor="let poi of pois">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="4" class="poi-img" [ngStyle]="{'background-image': 'url('+poi.cover?.url+')'}">
            </ion-col>
            <ion-col size="8">
              <div>
                <b>{{poi.name}}</b>
              </div>
              <small>Documenti: {{(poi.attachments || []).length}}</small>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>