<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="ion-text-center ion-padding">
      Opere d'arte
    </div>
    <div>
      <ion-searchbar [(ngModel)]="term" [debounce]="400" (ngModelChange)="search()"></ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card button *ngFor="let artwork of pois">
      <ion-card-header>
        <ion-card-title>{{artwork.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              Documenti: <b>{{(artwork.attachments || []).length}}</b>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>