#wrapper {
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    height: 100%;

    > div {
        margin: 0 auto;
        color: var(--ion-color-light);
    }
    // ion-item {
    //     --background: transparent;
    //     color: white;
    // }
}