.distance {
  display: flex;
  align-items: center;
  > div {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: 0 auto;

    small {
      font-size: 0.7em;
      font-weight: 300;
    }
  }
}