<ion-searchbar mode="ios" [(ngModel)]="searchTerm" [debounce]="400" (ngModelChange)="search()"></ion-searchbar>
<ion-list>
	<ion-item *ngFor="let artwork of _artworks">
		<ion-button size="icon-only" fill="clear" color="light">
			<ion-icon name="pin"></ion-icon>
		</ion-button>
		<ion-button size="icon-only" fill="clear" color="light">
			<ion-icon name="star"></ion-icon>
		</ion-button>
		<ion-label (click)="gotoTag(artwork)">{{ artwork.title }}</ion-label>
	</ion-item>
	<ion-item *ngIf="arteworks && !arteworks.length">
		<ion-label class="ion-text-center"> Nessuna opera trovata </ion-label>
	</ion-item>
</ion-list>
